<h1>Registro</h1>

<section>
    <form id="registerForm">
        <label>Nombre</label>
        <input name="first_name" />
        <label>Apellido</label>
        <input name="last_name" />
        <label>Email</label>
        <input type="email" name="email" />
        <label>Edad</label>
        <input name="age" />
        <label>Contraseña</label>
        <input type="password" name="password" />
        <input type="submit" id="submit" />
        <p id="error" style="color: red;"></p>
    </form>
    <p>¿Ya tienes una cuenta?<a href="/">Ingresa Aquí</a></p>
</section>

<script src="/static/js/register.js"></script>